.mui-table-view:first-of-type .mui-table-view-cell:first-of-type {
  vertical-align: middle;
}
.mui-table-view:first-of-type .mui-table-view-cell:first-of-type > a {
  height: 5rem;
  vertical-align: middle;
}
.mui-table-view:first-of-type .mui-table-view-cell:first-of-type > a > span {
  height: 100%;
}
.mui-table-view:first-of-type .mui-table-view-cell:first-of-type > a > span > img {
  height: 100%;
  margin-right: 2rem;
}
.buttons {
  width: 100%;
  margin-top: 2rem;
}
.buttons button {
  width: 50%;
  height: 3rem;
  color: #fff;
}
#account input {
  border: 0px solid #000;
  margin: 0 ;
  text-align: right;
  padding: 0;
}
